{% extends 'base.html' %}
{% block title %}｜ユーザー登録{% endblock %}
{% block content %}

<div class="header-bar">
  <h1>ユーザー登録</h1>
</div>

<div class="body-container">
  {% include 'partials/_alerts.html' %}
  <form action="" method="post">
    {% csrf_token %}
    <label for='username'>ユーザー名</label>
    <input type="text" name='username' required>
    <label for='password'>パスワード</label>
    <input type="password" name='password' required>
    <label for='password2'>パスワード確認</label>
    <input type="password" name='password2' required>
    <button class="button" type="submit">ユーザー登録</button>
  </form>
  
  <p>アカウントをお持ちですか？こちらから<a class="login" href="{% url 'login' %}">ログイン</a>できます。</p>
</div>
{% endblock %}