{% extends 'base.html' %}
{% block title %}｜ユーザー登録{% endblock %}
{% block content %}

<div class="header-bar">
  <h2>ユーザー登録</h2>
</div>

<div class="body-container register">
  {% include 'partials/_alerts.html' %}
  <form action="" method="post">
    {% csrf_token %}
    <label for='username'>ユーザー名</label>
    <input type="text" name='username' required>
    <label for='password'>パスワード</label>
    <input type="password" name='password' required>
    <label for='password2'>パスワード（確認）</label>
    <input type="password" name='password2' required>
    <button class="button" type="submit">登録</button>
  </form>
  
  <p class="btm-msg">アカウントをお持ちですか？こちらから<a class="login-txt" href="{% url 'login' %}">ログイン</a>できます。</p>
</div>
{% endblock %}