{% extends 'base.html' %}
{% block title %}｜一覧{% endblock %}
{% block content %}

<div class="header-bar">
  <a href="{% url 'today_foods' %}">&#8592; 戻る</a>
</div>

<div class="body-container">
  <div class="body-header">
    <h1>食べ物一覧</h1>
    <div class="notion-sm">
      <p>※食べもの名、日付、カテゴリから検索します。日付は月-日で検索してください。</p>
    </div>
    <form class="search-form" action="{% url 'food_search' %}" method="get">
      <div class="search-form-row">
        <div class="search-form-each food1">
          <label for="food1">食べもの１</label>
          <input class="search-form-food" type="text" name="food1" value='{{values.food1}}' placeholder="例）納豆">
        </div>
        
        <div class="search-form-each food2">
          <label for="food2">食べもの２</label>
          <input class="search-form-food" type="text" name="food2" value='{{values.food2}}' placeholder="例）胸肉">
        </div>
        
        <div class="search-form-each">
          <label for="date">日付</label>
          <input class="search-form-date" type="text" name="date" value='{{values.date}}' placeholder="例）6-24">
        </div>

        <div class="search-form-each">
          <label for="category">カテゴリ</label>
          <select class="search-form-category" name="category" id="type" >
            <!-- <option value='なし'>なし</option>
            <option value='朝食'>朝食</option>
            <option value='昼食'>昼食</option>
            <option value='夕食'>夕食</option>
            <option value='間食'>間食</option> -->
            {% for k, v in category_choices.items %}
              <option value="{{ k }}" 
                {% if k == values.category %}
                  selected
                {% endif %}
                >
                {{ v }}
              </option>
            {% endfor %}
          </select>
        </div>
        
      </div>
      <div class="search-form-row">
        <button class="search-button" type="submit">検索</button>
      </div>

    </form>
  </div>

  <div class="food-items-wrapper">
    <table>
      <tr class="table-header">
        <th class="align-left">食べもの</th>
        <th>kcal</th>
        <th>P</th>
        <th>F</th>
        <th>C</th>
        <th>日付</th>
        <th>種類</th>
      </tr>
      {% if foods %}
      {% for food in foods %}
        <tr>
          <td class="align-left all-foods-data">{{ food.name }}</td>
          <td>{{ food.kcal }}</td>
          <td>{{ food.protein }}</td>
          <td>{{ food.fat }}</td>
          <td>{{ food.carb }}</td>
          <td>{{ food.eaten_date }}</td>
          <td>{{ food.category }}</td>
          <td><a href="{% url 'food-update' food.id %}"><i class="far fa-edit"></i></a></td>
          <td><a href="{% url 'food-delete' food.id %}"><i class="far fa-trash-alt"></i></a></td>
        </tr>
        {% endfor %}
        {% else %}
        <td colspan="8" class="no-results">｜食べ物なし｜</td>
      {% endif %}
      
    </table>
    {% if is_paginated %}
    <div class="pagination class-base-pagination">
        <span class="page-links">
          {% if page_obj.has_previous %}
          <a href="/all_foods?page={{ page_obj.previous_page_number }}">&laquo;</a>
          {% endif %}
          <span class="page-current">
            {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
          </span>
          {% if page_obj.has_next %}
          <a href="/all_foods?page={{ page_obj.next_page_number }}">&raquo;</a>
          {% endif %}
        </span>
      </div>
      {% endif %}
    </div>
  </div>
<!-- {{ color }} -->
<!-- {{ kcal.kcal__sum }}
  {{ protein.protein__sum }} -->
  
  
{% endblock %}