{% extends 'base.html' %}
{% block title %}｜削除: {{ food.name }}{% endblock %}
{% block content %}

<section class="food-delete">
  
  <div class="header-bar">
    <a href="{% url 'today_foods' %}">&#8592; 戻る</a>
  </div>
  
  <div class="body-container">
    <div class="body-header">
      <h1>食べもの削除</h1>
    </div>
    
    <form action="" method="post">
      {% csrf_token %}
      <p class="form-txt">本当にこの食べ物を削除しますか？</p>
      <h3 class="form-bld-txt">{{food.name}} ({{food.kcal}}kcal, {{food.protein}}P, {{food.fat}}F, {{food.carb}}C)</h3>
      
      <button class="button" type="submit">削除</button>
    </form>
  </div>

</section>
{% endblock %}
