{% extends 'base.html' %}
{% block title %}｜お気に入り削除{% endblock %}
{% block content %}

  <div class="header-bar">
    <a href="{% url 'favorite_update' favorite.id %}">&#8592; 戻る</a>
  </div>
  
  <div class="body-container">
    <div class="body-header">
      <h1>お気に入り削除</h1>
    </div>
    
    <form action="{% url 'favorite_delete' favorite.id %}" method="post">
      {% csrf_token %}
      <p class="form-txt">本当にこの食べ物を削除しますか？</p>
      <h3 class="form-bld-txt">{{favorite.name}} ({{favorite.kcal}}kcal, {{favorite.protein}}P, {{favorite.fat}}F, {{favorite.carb}}C)</h3>
      
      <button class="button-delete" type="submit">削除</button>
    </form>
  </div>

{% endblock %}
