{% extends 'base.html' %}
{% block title %}｜編集{% endblock %}
{% block content %}

<div class="header-bar">
  <a href="{% url 'today_foods' %}">&#8592; 戻る</a>
</div>

<div class="body-container">
  <div class="body-header">
    <h1>食べもの編集</h1>
  </div>

  <div class="notion-md">
    <p>数字は半角で、PFCのみ小数点第一位まで可</p>
  </div>
  
  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="button button-with-delete" type="submit">更新</button>
    <a class='button button-delete' href="{% url 'food_delete' food.id %}">削除</a>
  </form>
</div>
{% endblock %}