{% extends 'base.html' %}
{% block title %}｜メモ一覧{% endblock %}
{% block content %}

<!-- header-bar -->
<div class="header-bar">
  <div>
    <h1>筋肉、栄養学メモ</h1>
    <h3 style="margin: 0;">今日は<span style="color:#333;">5</span>記事投稿されました！</h3>
  </div>

  {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
  {% else %}
    <a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i>Login</a>
  {% endif %}
</div>
<!-- ///header-bar -->

<div class="body-container">
  <!-- body-header-bar -->
  <div class="body-header">
    <div class="body-header-title">
      <div class="body-header-left">
        <h1>メモ一覧</h1>
      </div>
      <div class="body-header-right">
        <a href="{% url 'blog-create' %}"><i class="fas fa-plus"></i></a>
      </div>
    </div>
    <a href="{% url 'my-foods-list' %}">今日食べたもの</a>
  </div>
  <!-- ///body-header-bar -->

  <!-- 記事一覧 -->
  <div class="blog-body">
    {% if blogs %}
      {% for blog in blogs %}
        <div class="blog-each">
          <div class="blog-container-top">
            <p class="blog-left"><span style="color: #000;">{{ blog.user }}</span>が{{ blog.created }}に投稿</p>
            <div class="blog-links">
              <a href="{% url 'blog' blog.id %}"><i class="fas fa-info"></i></a>
              <a href="{% url 'blog-update' blog.id %}"><i class="far fa-edit"></i></a>
              <a href="{% url 'blog-delete' blog.id %}"><i class="far fa-trash-alt"></i></a>
            </div>
          </div>
          <h2>{{ blog.title }}</h2>
        </div>
      {% endfor %}
    {% else %}
      <p>No blogs made</p>
    {% endif %}
  </div>
</div>
{% endblock %}