{% extends 'base.html' %}
{% block title %}｜記事作成{% endblock %}
{% block content %}
<section class="blog-create">
  
  <div class="header-bar">
    <a href="{% url 'latest_blogs' %}">&#8592; 戻る</a>
  </div>
  
  <div class="body-container blog">
    <div class="body-header">
      <h1>記事作成</h1>
    </div>
    <div class="notion-md">
      <p>タイトルとコンテンツ1は必須</p>
    </div>

    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class='button' type="submit">追加</button>
    </form>
  </div>

</div>
{% endblock %}