<h1>今日食べたもの</h1>
<p>本日は{% now "F" %}{% now "j" %}日({% now "l" %})です</p>
<a href="{% url 'create' %}">追加</a>

<table>
  <tr>
    <th>食べもの</th>
    <th>カロリー</th>
    <th>タンパク質</th>
    <th>脂質</th>
    <th>炭水化物</th>
    <th>日付</th>
  </tr>

  {% for food in foods %}
    <tr>
      <td>{{ food.name }}</td>
      <td>{{ food.kcal }}</td>
      <td>{{ food.protein }}</td>
      <td>{{ food.fat }}</td>
      <td>{{ food.carb }}</td>
      <td>{{ food.eaten_date }}</td>
      <td><a href="{% url 'update' food.id %}">編集</a></td>
      <td><a href="{% url 'delete' food.id %}">削除</a></td>
    </tr>
  {% empty %}
    <h4>No itmes</h4>
  {% endfor %}
  <tr>
    <th>合計</th>
    <th>{{ ttl_kcal }}</th>
    <th>{{ ttl_protein }}</th>
    <th>{{ ttl_fat }}</th>
    <th>{{ ttl_carb }}</th>
  </tr>
</table>
